      html,body {
          height:100%;
      }
      body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
        color: #000000;
        background-color: #f6f6f6;
        font-weight: 300;
        margin-bottom: 3em;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .eg,
      .eh,
      .ei,
      .ej,
      .ek,
      .el {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
        line-height: 1.2;
        color: inherit;
        letter-spacing: .15em;
        margin-top: 0;
      }
      
      .patient {
        cursor: pointer;
        width: 100%;
        display: table;
        padding: 15px 0; /* Vertical space between patient cards */
      }
      .patient:hover {
        background-color: #ddd;
      }
      .patient-caret i , .patient-handle i {
        font-size: 18px;
        font-weight: 100;
      }
      .patient-handle, .patient-data, .patient-caret {
        display: table-cell;
        padding: 0;
      }
      .patient-data {
        width: 84%;
        padding-left: 10px; /* add space between the handle and the patient data */
      }
      .patient-handle, .patient-caret {
        width: 8%;
        text-align: center;
        vertical-align: middle;
      }
      
      .card {
        background: #fff;
        border-radius: 2px;
        height: 300px;
        -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
        box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
        margin-left: -15px;
      }
      .card h3, .professionals h4 {
        margin-top: 0;
      }
      .card h2 {
        padding: 0.3em 0.5em;
        margin: 0;
      }
      
      .left-col [class*="col-"] {
        text-align: center;
      }
      
      .card-content { /* Scroll in section cards */
        overflow-y: auto;
        height: 82%;
      }
      .ui-state-highlight {
        height: 2.5em;
        line-height: 1.4em;
        border: 1px dashed #8EF3FF;
	     background: #F4FFFF;
      }
      .ui-sortable-helper {
        opacity: 0.6;
      }
      
      /* test */
      .just-shadow {
         -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
         -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
         box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.16);
      }
      
      /* test */
      .panel {
        margin-left: -15px;
      }
      .panel-heading {
        background-color: #fff;
      }
      .fa-2 {
        font-size: 1.4em;
      }
      .less-top {
        padding-top: 0;
      }
      .row .row {
        margin-top: 0;
      }